.container-bonus{
  padding:  100px 210px 100px 210px;
  display: flex;
  align-items: center;
  background: var(--cor-clara);
}
.container-texto-bonus{
  padding: 0 43px 0 50px;
  text-align: center;
  font-size: 1.125rem;
}
.container-texto-bonus p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.title-bonus{
  padding-bottom: 10px;
  font-family:'Poppins', sans-serif ;
}

