.footer{
  display: flex;
  background: var(--cor-preta);
  padding:  110px 210px 110px 210px;
  align-items: center;
  gap: 40px;
}

.container-text-footer p{
  color: var(--cor-clara);
  padding: 20px 0 20px 0;
  font-size: 1.125rem;
}
.container-text-footer h2{
  font-size: 32px;
  font-weight: bold;
}

.btn-footer{
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.btn-footer a{
  color: var(--cor-preta);
  font-weight: bold;
}

.btn-footer a:hover{
  color: var(--cor-clara);
}