main{
  
}
.container-agradecimento{
  background-image: url(../img/teste\ header\ main.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.agradecimento-img{
  height: 300px;
}
.container-de-texto-agradecimento{
  background: var(--cor-clara);
  border-radius: 20px;
  padding: 50px;
  width: 500px;
  height: 416px;
}
.container-de-texto-agradecimento h1{
  font-weight: bold;
}
