/* toda parte de responsividades do site  */

/* para tablet  */
@media screen and (max-width: 1153px) and (min-width: 768px) {
  header{
    background-image: none;
    
  }
  .header-container{
    padding: 30px 40px 30px 40px;
    gap: 30px;
    justify-items: center;
  }

  
  .caixa-text{
    padding: 0 30px 0 10px;
    text-align: left;
  }
  .caixa-text p{
    line-height: 25px;
  }
  .minho-logo{
    height: 350px;
    padding-right: 0px;
  }
  .texto-dourado{
    font-size: 1.5rem !important;
    
  }
 
  .formulario-itens input{
    width: 350px;
    padding: 7px;
    border-radius: 10px;
  }



/* section descriptions tablet */
.container-descricao{
  padding: 30px 0px 0 0px;
}
.section-description{
  padding: 20px;
  margin: 0 50px 50px 50px;
}

.section-description{
  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.section-description:hover{
  -moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* section sobre tablet */
.sobre{
  padding: 30px 0 30px 0;
  gap: 40px;
}

.img-sobre{
  margin-left: 40px;
}
.container-texto-sobre{
  padding: 0;
  margin-right: 40px;
}

.container-texto-sobre p{
  font-size: 1.125rem;
}


/* section bonus tablet */
.container-bonus{
  padding: 30px 30px 30px 30px;
}
.container-texto-bonus{
  padding: 0 20px 0 13px;
}



/* section footer tablet */
.footer{
  padding: 20px 0 20px 40px;
  gap: 20px;
}
}






/* para celular  */
@media screen and (max-width: 767px){
 .header-container{
    flex-direction: column;
    padding: 0px 20px 76px 20px ;
  }
  .title-principal{
    font-size: 2rem;
    padding: 20px 0 0 0;
  }
  .header-container img{
    order: 0;
  }
  .caixa-text{
    text-align: center;
    padding: 0;
    order: 1;
  }
  .minho-logo{
    height: 200px;
  }

  
  
  /* section para celular */
  .section-description{
    flex-direction: column;
    padding:  25px;
  }
  .section-description-2{
    flex-direction: column;
    padding: 25px;
  }
  .container-section-texto{
    padding: 0;
    text-align: center;
  }
  .titulo-description{
    padding-top: 20px;
  }
  .texto-p{
    padding-top: 10px;
  }
  .texto-p-2{
    padding-top: 10px;
  } 
}